/* Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

header {
    height: 768px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    object-fit: contain;
}

h2 {
    font-weight: bold !important;
}
/* /Global */

/* Desktop style */
/* Redes */
.redes {
    background: #222831;
}

.redes-content {
    color: #8297AE;
    height: 50px;
}

.redes-mail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.redes-mail > a {
    font-size: 2rem;
    color: #8297AE;
    text-decoration: none;
    transition: font-size .3s ease-out;
}

.redes-mail > a:hover {
    font-size: 2.1rem;
}

.redes-mail > p {
    margin: 0;
}

.redes-sociales > a {
    font-size: 2rem;
    text-decoration: none;
    color: #8297AE;
    transition: font-size .3s ease-out;
}

.redes-sociales > a:hover {
    font-size: 2.1rem;
}
/* /Redes */

/* Hero */
.hero {
    background: #ECEFF2;
    height: 100%;
}

.hero-content-title {
    color: #384454;
    font-weight: bold;
}
.hero-content-text {
    color: #384454;
}

.hero-button {
    display: flex;
}

.hero-btn {
    padding: 1rem;
    background: #4E637B;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: background .3s ease-out;
}

.hero-btn:hover {
    background: #384454;
}
/* /Hero */

/* Proyectos */
.proyectos {
    height: 768px;
}

.proyectos-content {
    color: #384454;
}
/* /Proyectos */

/* Habilidades */
.habilidades {
    background: #323C48;
    height: 768px;
}

.habilidades-content {
    padding: 2rem;
    gap: 2rem;
}

.habilidades-title {
    color: #D4DBE3;
}

.habilidades-text {
    color: #D4DBE3;
}

.cards {
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 1rem !important;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .5);
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
}
/* /Habilidades */

/* Contactar */
.cta {
    height: 768px;
}

.cta-container {
    padding: 2rem;
    background: #323C48;
    color: white;
    border-radius: 1rem;
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, .5);
}

.cta-content {
    padding: 0 2rem;
    width: 100%;
}

.cta-title {
    font-size: 28px;
}

.cta-btn > a {
    background: #088C96;
    color: white;
    text-decoration: none;
    width: 220px;
    height: 4rem;
    font-weight: bold;
    transition: background .3s ease-out;
}

.cta-btn > a:hover {
    background: #125D67;
}

.cta-info {
    width: 100%;
}

.cta-block {
    background: #4E637B;
    padding: 1rem .5rem;
    border-radius: 1rem;
    width: 100%;
}

.cta-block > i {
    font-size: 2.5rem;
    color: #088C96;
}

.cta-info-content > span {
    color: #A4B1BC;
    font-size: 20px;
}

.cta-info-content > a {
    color: white;
    text-decoration: none;
}

.cta-socials > a {
    color: white;
    text-decoration: none;
}
/* /Contactar */

/* Footer */

.footer-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.links a {
    text-decoration: none;
    color: #384454;
    transition: color .3s ease-out;
}

.links a:hover {
    color: #000000;
}
/* /Footer */

/* Copy */
.copy {
    background: #222831;
    color: #8297AE;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}
/* /Copy */

/* Mobile style */
@media(max-width: 767px){
    header {
        height: 800px;
    }

    .hero-content-left {
        height: 50%;
    }

    .hero-content-right {
        height: 50%;
    }

    .redes-mail > p {
        display: none;
    }

    .carrousel-img {
        display: block;
    }

    .carrousel-img-desktop {
        display: none;
    }

    .habilidades {
        height: auto;
    }

    .cards {
        gap: 1rem;
    }

    .card {
        max-width: 343px;
    }

    .cta-container {
        padding: 1rem;
        margin: 0 !important;
        width: 100%;
        gap: 1rem;
    }

    .cta-content,
    .cta-info {
        padding: 0 !important;
    }

    .cta-info-content > span {
        font-size: 1rem;
    }

    .cta-info-content > a,
    .cta-socials > a {
        font-size: 14px;
    }

    .cta-title {
        font-size: 20px;
    }

    .cta-btn > a {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        gap: 1rem;
    }

    .links {
        flex-direction: column;
        padding: 0;
    }
}